.chatBar {
  width: 400px;
  height: 100%;

  background: #00B758;
}

.viewContainer {
  width: 100%;
  height: 100%;

  display: flex;

  justify-content: space-between;

  .videoContainer {
    width: calc(100% - 450px);
    height: 100%;

    video {
      width: 100%;

      aspect-ratio: 16 / 9;
    }
  }
}